<link rel="stylesheet" type="text/css" href="addUser.css">
<div class="container">        
    <div class="main">
        <h2>Add New User</h2>
        <form class="form">
            Enter Username: <br>
            <input type="text" placeholder="Ex: majra" ng-model="user.username"><br>
            Enter Password:<br>
            <input type="text" ng-model="user.password"><br>
            Choose Organization: <br>
            <select ng-model="user.organization">
                <option value="">
                <option value="Org1">Org1
                <option value="Org2">Org2
            </select><br>
            <input id="addUser" class="addUser" type="submit" value="Add User" ng-click="addUser()">
        </form>
    </div>
</div>
<div class="footer">
</div>