<link rel="stylesheet" type="text/css" href="createKajmak.css">
<div class="container">
    <div class="menu">
        <a class="active" href="#createKajmak">create kajmak</a>
        <a href="#listKajmak">list kajmak</a>
        <a href="#mixKajmak" ng-click="queryAllKajmak()">mix kajmak</a>
    </div>

    <div class="main">
        <h2>Create Kajmak Record</h2>
        <form class="form">
            Enter Kajmak ID: <br>
            <input type="text" placeholder="Ex: 16" ng-model="kajmak.id"><br>
            Enter Kajmak Name:<br>
            <input type="text" placeholder="Ex: Kajmak16" ng-model="kajmak.name"><br>
            Enter Kajmak Owner:<br>
            <input type="text" placeholder="Ex: Majra" ng-model="kajmak.owner"><br>
            Choose Animal:<br>
            <select ng-model="kajmak.animal">
                <option value="">
                <option value="Sheep">Sheep
                <option value="Cow">Cow
                <option value="Goat">Goat
            </select><br>
            Enter Location:<br>
            <input type="text" placeholder="Ex: Vlasic" ng-model="kajmak.location"><br>
            Enter Quantity In Grams:<br>
            <input type="text" placeholder="Ex: 900" ng-model="kajmak.quantity"><br>
            Expires in:
            <input type="text" placeholder="Ex: 6" ng-model="kajmak.number"><br>
            <select ng-model="kajmak.unit">
                <option value="">
                <option value="min">minutes
                <option value="hour">hours
                <option value="days">days
                <option value="month">months
            </select><br>
            <input id="createSubmit" class="create" type="submit" value="Create" ng-click="recordKajmak()">
        </form>
    </div>
</div>
<div class="footer">
    <h3> {{poruka}} </h3>
</div>