<link rel="stylesheet" type="text/css" href="listKajmak.css">
<div class="container">
    <div class="menu">
        <a href="#createKajmak">create kajmak</a>
        <a class="active" href="#listKajmak">list kajmak</a>
        <a href="#mixKajmak">mix kajmak</a>
    </div>
            
    <div class="main">
        <button ng-click="queryAllKajmak()">Show All Kajmak</button>
        <table id="all_kajmak" class="table" border="1">
	        <thead>
	          <th>ID</th>
	          <th>Name</th>
	          <th>Owner</th>
	          <th>Animal</th>
	          <th>Location</th>
	          <th>Quantity</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="kajmak in all_kajmak">
	          <td>{{kajmak.Key}}</td>
	          <td ng-click="getDetails($index)"><a href="#details">{{kajmak.name}}</a></td>
	          <td>{{kajmak.owner}}</td>
	          <td>{{kajmak.animal}}</td>
	          <td>{{kajmak.location}}</td>
	          <td>{{kajmak.quantity}}</td>
	        </tr>
	    </tbody>
      </table> 
      <button ng-click="deleteKajmak()">Delete Kajmak</button>     
    </div>
</div>
<div class="footer"></div>