.container {
    border: solid white 1px;
    height: 90%;
    overflow: auto;
    background-color: silver;
}

.main {
    border: solid white 1px;
    width:100%;
    padding:100px 20px;
    height: 100%;
    text-align: center;
}

.main h2 {
    text-transform: uppercase;
}

.form {
    border: solid #bf9b30 3px;
    background-color: black;
    width: 40%;
    font-size: 20px;
    color: #bf9b30;
    padding-top:5px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    font-size: 20px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    color: black;
    background-color: #eaeaea;
}

.login {
    background: #bf9b30;
    border: none;
    height: 50px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login:hover {
    color: silver;
    font-weight: bold;
}

.footer {
    background-color: black;
    height: 10%;
}
