<link rel="stylesheet" type="text/css" href="login.css">
<div class="container">        
    <div class="main">
        <h2>Login</h2>
        <form class="form">
            Enter Username: <br>
            <input type="text" placeholder="Ex: majra" ng-model="user.username"><br>
            Enter Password:<br>
            <input type="password" ng-model="user.password"><br>
            <a href="#addUser"><input id="login" class="login" type="submit" value="Login" ng-click="loginUser()"></a>
        </form>
    </div>
</div>
<div class="footer">
</div>